@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BourseSim</h1>
    <p class="lead">BourseSim est une application web qui nous permet d'apprendre, en tout sécurité financière, les rudiment de la bourse.</p>
    <p><a href="~/home/Marche" class="btn btn-primary btn-large">Marché &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Nam vel varius ex. Fusce ac consequat neque. Aliquam ultrices,
             mauris a aliquam imperdiet, purus metus cursus leo,
             at dapibus metus enim vel enim. Integer nullam.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>consectetur adipiscing</h2>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Nam vel varius ex. Fusce ac consequat neque. Aliquam ultrices,
             mauris a aliquam imperdiet, purus metus cursus leo,
             at dapibus metus enim vel enim. Integer nullam.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>cursus leo</h2>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Nam vel varius ex. Fusce ac consequat neque. Aliquam ultrices,
             mauris a aliquam imperdiet, purus metus cursus leo,
             at dapibus metus enim vel enim. Integer nullam.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>