@{
    ViewBag.Title = "Marche";
    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
</head>
<body>
    <h2>Marché.</h2>
    <div id="contributors">        
    </div>
</body>
</html>

<script type="text/javascript">
    var timer;
    function ChargeVuePartielle() {
        $.ajax({
            url: '@Url.Action("PartielMarche", new {id = ViewBag.Id  })',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#contributors').html(result);
            }
        });
    }

    ChargeVuePartielle();
    $(function () {
        timer = window.setInterval("ChargeVuePartielle()", 2000);
    });
</script>

