@model Bourse.Models.BourseModel
@{
    ViewBag.Title = "Marché";
}


    <h2>Marché.</h2>
    <div id="contributors">
        <img src="~/Images/loading.gif" />
    </div>


<script type="text/javascript">
    var timer;
    function ChargeVuePartielle() {
        $.ajax({
            url: '@Url.Action("PartielMarche")',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#contributors').html(result);
            }
        });
    }

    ChargeVuePartielle();
    $(function () {
        timer = window.setInterval("ChargeVuePartielle()", 3000);
    });
</script>


