@model Bourse.Models.BourseModel
@using (Html.BeginForm())
{
}
<table border="1">
    @{
        YahooFinance yf = new YahooFinance();
        int Qte = 1;
        if (Model != null)
        {
            Model.SelectAll();
            
            while (Model.Next())
            {
                <tr>
                    <td>
                        @{
                            String image = "~/Images/" + @Model.Symbol + ".png";
                            <img src=@Href(image) width="32px" height="32px" />
                        }
                        
                    </td>
                    <td>
                        @{
                            String path = "~/Home/Index/" + @Model.Symbol;
                            <a href=@Href(path)>@Model.Name -> @yf.GetStockPriceFromSymbol(Model.Symbol)</a>
                        }
                    </td>
                </tr>
            }
        }
    }
</table>
