@model Bourse.Models.BourseModel
@using (Html.BeginForm())
{
}
<table class="table table-striped"  border="0">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Nom</th>
            <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
        @{
            DateTime count = DateTime.Now;
            YahooFinance yf = new YahooFinance();
            int Qte = 1;
            if (Model != null)
            {
                Model.Select20from((-1+(int)ViewBag.page)*20);

                while (Model.Next())
                {
                    <tr>
                        <td>
                            <img src=@Href("~/Images/" + @Model.Symbol + ".png") width="auto" height="64px"
                                 style="display: block; margin-left: auto; margin-right: auto; " />
                        </td>
                        <td>
                            <a href=@Href("~/Home/Achat/" + @Model.Symbol)>@Model.Name</a>
                        </td>
                        <td>
                            <td>@yf.GetStockPriceFromSymbol(Model.Symbol)$</td>
                        </td>
                    </tr>
                }
            }
           
            
        }
    </tbody>
</table>

